*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
}

h1 {
    color:#767676;
}
p{
    color:#767676;
}
.circle{
    background-color: #767676;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5%;       
}

hr {
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5%;
	height: 6px;
    border: 1;
}
.outer{
    width:60%;
}
.fas.fa-circle {
    font-size: 5px;
}
.carousel-item {
    background-color: #767676;
    height: 530px;
    }
    
    .carousel-inner {
    margin: auto;
    }
    
    h2 {
    margin-bottom: 50px;
    }
    
    .btn btn-primary {
    margin-bottom: 30px;
    }